ion-card {
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.angle-badge {
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: #f2f2f2;
  color: #333;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered-button {
  margin-bottom: 10px;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

.centered-button:hover {
  background-color: #0056b3;
}

/* Additional styles for container and typography */
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
/* Global Styling */
ion-content {
  --background: #222;
  --ion-background-color: #222;
  --ion-text-color: #fff;
}

/* Control Card Styling */
.control-card {
  --background: #333;
  --color: #fff;
}

.start-button {
  --background: #38d39f;
  --color: #fff;
}

.stop-button {
  --background: #f0533d;
  --color: #fff;
}

/* Gait Phase Card Styling */
.gait-phase-card {
  --background: #333;
  --color: #fff;
}

.record-button {
  --background: #1e90ff;
  --color: #fff;
}

/* Leg Card Styling */
.leg-card {
  --background: #333;
  --color: #fff;
}

/* Activity Card Styling */
.activity-card {
  --background: #333;
  --color: #fff;
}


/* Badge Styling */
.angle-badge {
  --background: #38d39f;
  --color: #fff;
}


